// *************************
//		SIDE NAVIGATION
// *************************

$backgroundColor: #111;

#sidenav {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: -1;
	top: 0;
	right: -0px;
	background-color: $backgroundColor;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

	&.open {
		width: 100px;
		right: 0;
	}

	white-space: nowrap;

	a {
		&:nth-child(1) {
			margin-top: 80px;
		}
		padding: 8px 25px 8px 8px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;

		text-align: right;

		width: 67px;

		&:hover {
			color: #f1f1f1;
		}
		img {
			height: 50px;
		}
		svg {
			height: 50px;
			* {
				fill: darkgrey;
			}
			.vk-color-1 {
				fill: #5181B8;
			}
			.vk-color-2 {
				fill: white;
			}
		}

	}

	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

}

@media screen and (max-height: 450px) {
	#sidenav {
		padding-top: 15px;
	}
	#sidenav a {
		font-size: 18px;
	}
}

#nav-icon {
	position: fixed;
	top: 0;
	right: 25px;
	z-index: 1000;
	width: 60px;
	height: 60px;
	margin: 40px auto;
	transform: rotate(0deg);
	//transition: .5s ease-in-out;
	cursor: pointer;



	@media (max-width: 400px) {
		width: 25px;
		height: 29px;
		margin: 16px auto;
	}
	@media (max-height: 650px) {
		width: 40px;
		height: 40px;
		margin: 20px auto;
	}

	span {
		display: block;
		position: absolute;
		width: 12px;
		height: 12px;
		right: 0;
		background: white;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;


		//transition: all 3s;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 19px;
		}

		&:nth-child(4) {
			top: 38px;
		}

		@media (max-height: 650px) {
			width: 10px;
			height: 10px;
			&:nth-child(2), &:nth-child(3) {
				top: 15px;
			}
			&:nth-child(4) {
				top: 30px;
			}
		}

		@media (max-height: 576px), (max-width: 567px) {
			height: 10px;
		}


	}

	&.open {
		right: 30px;

		span {
			background: white;
			&:nth-child(1) {
				top: 18px;
				width: 0;
			}

			&:nth-child(2) {
				width: 40px;
				height: 5px;
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				width: 40px;
				height: 5px;
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 18px;
				width: 0;
			}
		}
	}

}