$red: rgb(240, 65, 69);

html {
	font-family: "circe", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	//background-color: #1d865b;
	//background-position: center center;
}

#top {
	position: fixed;
	top: 0;
	//height: 50px;
	width: 100%;
	background-color: transparent;
	text-align: center;
}

* {
	transition: all .5s ease, height 1ms;
}

#logo-image, #logo-text {
	position: fixed;
	top: 0;
	height: 60px;
	z-index: 1000;
	margin: 40px auto;

	@media (max-height: 650px) {
		height: 40px;
		margin: 20px auto;
	}
}

#logo-image {
	left: 40px;
	@media (max-height: 650px) {
		left: 20px;
	}
}

#logo-text {
	right: 40px;
	@media (max-height: 650px) {
		right: 20px;
	}

	@media (max-width: 576px) {
		display: none;
	}
}

//
// main
//

#main {
	position: fixed;
	top: 0;
	height: 95vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	margin: 0;

	background-image: url("../img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-size: 1.5em;
	text-align: right;
	margin: 0;
	padding: 20px 30px;
	color: white;

	@media (max-width: 400px) {
		font-size: 1.2em;
	}
}

#centered {
	margin-bottom: 50px;
}

#info {
	text-align: center;
}

@keyframes like-click-scale-animation {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
}

.like-click-scale-animation {
	animation: like-click-scale-animation 0.3s ease;
}

.vote {
	margin: 20px 15px 0 15px;
	width: 35px;
	cursor: not-allowed;
}

.can-vote {
	cursor: pointer;
}

#like.voted .a {
	fill: $red;
}

#dislike.voted .a {
	fill: $red;
}

#song-artist {
	font-size: 1.5em;
	font-weight: 900;
	margin: 0;
	color: white;
}

#song-title {
	font-size: 1.5em;
	font-weight: 500;
	margin: 0;
	color: white;
}

#center-bottom {
	text-align: center;
}

//
// bottom
//

#bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;

	background-color: $red;
	cursor: pointer;

	transition: height .5s;

	height: 83px;

	@media (max-width: 400px) {
		height: 67px;
	}

	&.open {
		height: auto;

		@media (max-width: 576px) {
			height: 100vh;
		}
	}
}

#bottom-header, #bottom-text {
	color: white;
}

#bottom-header {
	font-size: 1.5em;
	font-weight: 600;

	@media (max-width: 400px) {
		font-size: 1.2em;
	}

	white-space: nowrap;
}

#bottom-text {
	position: relative;
	top: 45%;

	font-weight: 400;
	margin: 0;
	padding: 25px;
	vertical-align: middle;

	&.open {
		transform: translate(0, -25%);
	}
}


