$red: #f04244;

#playlist, #social {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

#playlist {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#social {
	float: right;
}

.playlist-icon {
	pointer-events: none;
}

.playlist-icon-circle, .playlist-icon-line {
	background-color: $red;
	&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 2px;
	}
}

.playlist-icon-circle {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	float: left;
	clear: both;
}

.playlist-icon-line {
	float: left;
	width: 15px;
	height: 3px;
	margin: 1px 0 1px 3px;
}






.overflow {
	overflow: hidden;
}


.dropdown-content {
	//display: none;
	height: 0;

	position: absolute;
	transform: translate(0, -120%);
	background-color: $red;
	width: 300px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

	transition: all 0.5s;

	a {
		height: 23px;
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		pointer-events: none;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.playlist-current-track {
			background-color: white;
			color: $red;
			font-weight: 900;
		}
	}

	&.show {
		//display: block;
		height: 235px;
		//height: 235px;
	}
}

#playlist-arrow {
	//position: relative;
	//left: 100px;
	width: 50px;
	height: 15px;
	display: none;
	position: absolute;

	box-sizing: border-box;
	border-style: solid;
	border-width: 15px 25px 0 25px;
	border-color: $red transparent transparent transparent;

	&.show {
		display: block;
	}
}