$red: rgb(240, 65, 69);

// mixins
@mixin playlist-width($offset) {
	width: 280px + $offset;

	@media (min-width: 400px) {
		width: 350px + $offset;
	}
	@media (min-width: 576px) {
		width: 500px + $offset;
	}
	@media (min-width: 768px) {
		width: 650px + $offset;
	}
	@media (min-width: 992px) {
		width: 550px + $offset;
	}
}

#playlist-and-social {
	@include playlist-width(0);
	&.open {
		@include playlist-width(180px);
		margin-left: 180px;
	}

	@media (max-width: 576px) {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 83px;	// Связано с высотой #bottom
		margin: auto;
	}

	@media (max-width: 400px) {
		bottom: 55px;	// Связано с высотой #bottom
	}
}

.white-circle {
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	margin-top: 18px;
}

.icon-line, .icon-circle {
	background-color: $red;
}

.icon-circle {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	clear: both;
}

.icon-line {
	width: 15px;
	height: 3px;
	margin: 1px 0 1px 3px;

	transition: all 0.3s;
}

#playlist, #social {

	&.open {
		background-color: $red;
	}
}

////////////////////
//		playlist
////////////////////

#playlist {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;

	&.open {
		margin-left: 90px;
	}
}

.playlist-icon {
	pointer-events: none;
}

.playlist-icon-circle, .playlist-icon-line {
	&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 2px;
	}
}

.playlist-icon-circle {
	float: left;

	&.open {
		&:nth-child(1) {
			width: 0;
		}
		&:nth-child(3) {
			width: 0;
		}
		&:nth-child(5) {
			width: 0;
		}
	}
}

.playlist-icon-line {
	float: left;

	transform-origin: left center;

	&.open {
		margin-left: 8px;

		&:nth-child(2) {
			width: 30px;
			transform: rotate(45deg);
			background-color: white;
		}
		&:nth-child(4) {
			width: 0;
		}
		&:nth-child(6) {
			width: 30px;
			margin-top: 8px;
			transform: rotate(-45deg);
			background-color: white;
		}
	}
}



.overflow {
	overflow: hidden;
}


.dropdown-content {
	display: none;

	height: 280px;
	width: 300px;
	//@include playlist-width;
	//max-width: 400px;

	position: absolute;
	margin-left: -100px;
	transform: translate(-100%, -70%);
	background-color: $red;
	//overflow: hidden;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 2;

	transition: all 0.5s;


	@media (max-width: 1140px) {
		margin-left: 25px;
		margin-top: 100px;
		transform: translate(-100%, 0%);
	}

	a {
		height: 24px;
		color: white;
		padding: 16px 20px;
		text-decoration: none;
		display: block;
		pointer-events: none;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.previous-track {
			font-weight: 100;
		}

		&.next-track {
			font-weight: 900;
		}

		&.playlist-current-track {
			background-color: white;
			color: $red;
			font-weight: 900;
		}
	}

	&.show {
		display: block;
	}
}

#playlist-arrow {
	position: relative;
	left: 100%;
	top: -30%;
	width: 56px;
	height: 56px;
	display: none;
	//position: absolute;

	//background-color: white;
	transform: translate(0, -50%);

	box-sizing: border-box;
	border-style: solid;
	border-width: 28px 0 28px 28px;
	border-color: transparent transparent transparent white;

	&.show {
		display: block;
	}


	@media (max-width: 1140px) {
		left: 80%;
		top: -120%;
		transform: translate(0, 0%);
		border-width: 0px 28px 28px 28px;
		border-color: transparent transparent white transparent;
	}
}




////////////////////
//		social
////////////////////

#social {
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;

	&.open {
		//margin-right: 90px;
	}
}

.social-icon {
	pointer-events: none;
	padding-left: 5px;

	&.open {
		padding-left: 0;
		transform: rotate(45deg);
	}
}

.social-icon-circle, .social-icon-line {
	&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 2px;
	}
}

.social-icon-circle {
	float: left;

	&:nth-child(1) {

	}
	&:nth-child(3) {
		margin-top: 3px;
		margin-left: 20px;
	}
	&:nth-child(5) {
		margin-top: 1px;
	}

	&.open {
		&:nth-child(1) {
			width: 0;
		}
		&:nth-child(3) {
			width: 0;
		}
		&:nth-child(5) {
			width: 0;
		}
	}
}

.social-icon-line {
	float: left;
	width: 13px;

	margin-left: 2px;

	&:nth-child(2) {
		transform-origin: left center;
		transform: rotate(30deg);
		margin-top: 3px;
	}
	&:nth-child(4) {
		margin-left: 6px;
		margin-top: 0;
		transform: rotate(-30deg);
		clear: both;
	}


	&.open {

		&:nth-child(2) {
			width: 30px;
			margin: 0;
			margin-top: 15px;
			//margin-left: 7px;
			transform: rotate(0deg);
			background-color: white;
		}
		&:nth-child(4) {
			width: 30px;
			margin: 0;
			margin-top: -13px;
			//margin-left: 2px;
			transform: rotate(90deg);
			background-color: white;
		}
	}
}

.social-share {
	float: right;
	margin-left: 0;
	height: 0;
	width: 0;
	//margin-top: 53px;

	&.open {
		margin-left: 20px;
		width: 70px;
		height: 70px;
		//margin-top: 18px;
	}
}