$red: rgb(240, 65, 69);

* {
	user-select: none;
	outline: none;
	&:focus {
		user-select: none;
		outline: none;
	}
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#visualizer {
	position: absolute;
	opacity: 0.6;
	z-index: -1;
	margin-top: 1.5vh;
}

html {
	font-family: "circe", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	//background-color: #1d865b;
	//background-position: center center;
}

.inactive {
	display: none;
}

//.not-active {
//	cursor: default;
//	text-decoration: none;
//	color: black;
//}

#top {
	position: fixed;
	top: 0;
	//height: 50px;
	width: 100%;
	background-color: transparent;
	text-align: center;
}

* {
	transition: all .5s ease, height 1ms;
}

#logo-image, #logo-text {
	position: fixed;
	top: 0;
	height: 60px;
	z-index: 1000;
	margin: 40px auto;

	@media (max-height: 650px) {
		height: 40px;
		margin: 20px auto;
	}
}

#logo-image {
	left: 40px;
	@media (max-height: 650px) {
		left: 15px;
	}


}

#logo-text {
	right: 60px;
	cursor: pointer;
	&.open {
		right: 140px;
	}
	@media (max-height: 576px) {
		right: 45px;
		&.open {
			right: 125px;
		}
	}
	@media (max-width: 567px) {	// 576px - iPohne 5 horizontal
		display: none;
	}

}

//
// main
//

#main {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;
	margin: 0;

	background-image: url("../img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-size: 1.5em;
	text-align: right;
	margin: 0;
	padding: 20px 30px;
	color: white;

	@media (max-width: 400px) {
		font-size: 1.2em;
	}
}

#centered {
	margin-bottom: 50px;
}

#info {
	text-align: center;
}

@keyframes like-click-scale-animation {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
}

.like-click-scale-animation {
	animation: like-click-scale-animation 0.3s ease;
}

.vote {
	margin-top: 20px;
	margin-bottom: 0;
	width: 35px;
	cursor: not-allowed;

	@media (max-height: 400px) {
		transform: scale(0.9);
	}
}

#like {
	margin-left: 15px;
	@media (max-height: 400px) {
		margin-left: 100px;
	}
	@media (max-width: 500px) {
		margin-left: 50px;
	}
}

#dislike {
	margin-right: 15px;
	@media (max-height: 400px) {
		margin-right: 100px;
	}
	@media (max-width: 500px) {
		margin-right: 50px;
	}
}

.can-vote {
	cursor: pointer;
}

#like.voted .a {
	fill: $red;
}

#dislike.voted .a {
	fill: $red;
}

#song-artist {
	font-size: 1.5em;
	font-weight: 900;
	margin: 0;
	color: white;
}

#song-title {
	font-size: 1.5em;
	font-weight: 500;
	margin: 0;
	color: white;
}

#center-bottom {
	text-align: center;
}

//
// bottom
//

#bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;

	background-color: $red;
	cursor: pointer;

	height: auto;
	max-height: 100vh;

	a {
		color: white;
	}
}

#bottom-header, #bottom-text {
	color: white;
}

#bottom-header-container {
	margin: auto;
	width: 450px;

	@media (max-width: 450px), (max-height: 576px) {
		width: 310px;
	}
}

#bottom-image {
	float: left;
	height: 43px;
	width: 43px;
	margin: 20px;

	//background-color: blue;

	@media (max-width: 450px), (max-height: 576px) {
		height: 23px;
		width: 23px;
		margin: 16px;
	}

	background-image: url('../img/phystech-joke.png');
	//background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#bottom-header {
	float: left;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0;

	width: 100%;

	@media (max-width: 450px), (max-height: 576px) {
		font-size: 1.0em;
	}

	white-space: nowrap;
}

#bottom-text {

	overflow: auto;

	height: 200px;


	clear:both;
	position: relative;
	top: 45%;

	font-weight: 400;
	margin: 0;
	padding: 10px 25px 25px 25px;
	vertical-align: middle;

	$t: .25s;

	transition: opacity $t $t,
				padding $t,
				height $t;

	&:not(.open), >*:not(.open) {
		opacity: 0;
		height: 0;
		padding: 0;

		transition: opacity $t,
					padding $t $t,
					height $t $t;
	}

	* {
		//font-size: 16px;
		opacity: 1;
	}

	table {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	td {
		width: 50%;
	}

	tr {
		:nth-child(1) {
			font-weight: 800;
			text-align: right;
			padding-right: 10px;
		}
		:nth-child(2) {
			text-align: left;
			padding-left: 10px;
		}
	}

	@media (max-width: 1200px) {
		td:nth-child(1) {
			width: 60%;
		}
	}

	@media (max-width: 768px) {
		td:nth-child(1) {
			width: 75%;
		}
	}
}