$red: rgb(240, 65, 69);

#volume {
	cursor: pointer;
}

#volume-controls {

	margin: 100px auto 0 auto;
	@media (max-height: 700px) {
		margin: 0 auto;
	}

	* {
		transition: none;
	}


	display: flex;
	align-items: center;
	justify-content: center;
}

#volume-slider {
	width: 150px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.noUi-target {
	border: none;
}

.noUi-horizontal {
	height: 5px;
}

.noUi-connects {
	background-color: $red;
	cursor: pointer;
}

.noUi-connect {
	background-color: white;
}

.noUi-handle {
	$handleSize: 18px;
	$cos30: 0.866;

	width: $handleSize !important;
	height: $handleSize !important;

	margin-right: 6px;

	background-color: white;
	transform: rotate(45deg);
	border: none;
	border-radius: 0;
	user-select: none;
	cursor: pointer;

	&::after, &::before {
		display: none;
	}
}

#volume-minus {
	float: left;
	height: 5px;
	width: 15px;
	background-color: white;
	cursor: pointer;
}

#volume-plus {
	float: left;
	height: 5px;
	width: 15px;
	background-color: white;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		width: 15px;
		height: 5px;
		background-color: white;
		transform: rotate(90deg);
	}
}