$red: rgb(240, 65, 69);

$whiteCircleSize: 70px;
$shareButtonMargin: 20px;

.white-circle {
	width: $whiteCircleSize;
	height: $whiteCircleSize;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	//margin-top: 18px;
}

.icon-line, .icon-circle {
	background-color: $red;
}

.icon-circle {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	clear: both;
}

.icon-line {
	width: 15px;
	height: 3px;
	margin: 1px 0 1px 3px;

	transition: all 0.3s;
}

#playlist, #social {
	&.open {
		background-color: $red;
	}
}

////////////////////
//		playlist
////////////////////

#playlist {
	position: relative;
	float: left;

	//@media (min-width: 576px) {
	//	top: 108px - $whiteCircleSize/2;
	//	left: -150px;
	//}
	//
	//@media (max-width: 576px) {
	//	position: absolute;
	//	left: $whiteCircleSize/2;
	//	bottom: 83px;	// Связано с высотой #bottom
	//}


	@media (max-width: 576px) {
		position: absolute;
		left: $whiteCircleSize/2;
		bottom: 83px;	// Связано с высотой #bottom
	}

	@media (max-width: 400px) {
		bottom: 67px;	// Связано с высотой #bottom
	}

	@media (min-width: 577px) {
		top: 108px - $whiteCircleSize/2;
		left: -100px;
	}

	@media (min-width: 768px) {
		left: -150px;
	}

	@media (min-width: 1350px) {
		left: -200px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

.playlist-icon {
	pointer-events: none;
}

.playlist-icon-circle, .playlist-icon-line {
	&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 2px;
	}
}

.playlist-icon-circle {
	float: left;

	&.open {
		&:nth-child(1) {
			width: 0;
		}
		&:nth-child(3) {
			width: 0;
		}
		&:nth-child(5) {
			width: 0;
		}
	}
}

.playlist-icon-line {
	float: left;

	transform-origin: left center;

	&.open {
		margin-left: 8px;

		&:nth-child(2) {
			width: 30px;
			transform: rotate(45deg);
			background-color: white;
		}
		&:nth-child(4) {
			width: 0;
		}
		&:nth-child(6) {
			width: 30px;
			margin-top: 8px;
			transform: rotate(-45deg);
			background-color: white;
		}
	}
}



.overflow {
	overflow: hidden;
}


.dropdown-content {
	display: none;

	height: 280px;
	width: 300px;

	position: absolute;
	margin-left: -100px;
	transform: translate(-100%, -70%);
	background-color: $red;
	//overflow: hidden;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 2;

	transition: all 0.5s;

	@media (max-width: 1250px) {
		margin-left: -45px;
		margin-top: 80px;
		transform: translate(0, 0%);
	}

	@media (max-width: 576px) {
		margin-left: -45px;
		margin-top: -100%;
		transform: translate(0, -100%);
	}



	a {
		height: 24px;
		color: white;
		padding: 16px 20px;
		text-decoration: none;
		display: block;
		pointer-events: none;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.previous-track {
			font-weight: 100;
		}

		&.next-track {
			font-weight: 900;
		}

		&.playlist-current-track {
			background-color: white;
			color: $red;
			font-weight: 900;
			padding-right: 40px;

			&::after {
				content: "";
				position: absolute;
				right: 16px;
				width: 16px;
				height: 16px;
				margin-top: 4px;

				box-sizing: border-box;
				border-style: solid;
				border-width: 8px 0 8px 12px;
				border-color: transparent transparent transparent $red;
			}
		}
	}

	&.show {
		display: block;
	}
}

#playlist-arrow {
	position: relative;
	left: 100%;
	top: -30%;
	width: 56px;
	height: 56px;
	display: none;
	//position: absolute;

	//background-color: white;
	transform: translate(0, -50%);

	box-sizing: border-box;
	border-style: solid;
	border-width: 28px 0 28px 28px;
	border-color: transparent transparent transparent white;

	&.show {
		display: block;
	}

	@media (max-width: 1250px) {
		left: 0;
		top: -120%;
		transform: translate(0%, 0%);
		border-width: 0 28px 28px 28px;
		border-color: transparent transparent $red transparent;
	}

	@media (max-width: 576px) {
		top: 0;
		left: 0;
		transform: translate(0,0);
		border-width: 28px 28px 0 28px;
		border-color: $red transparent transparent transparent;
	}

}




////////////////////
//		social
////////////////////


#social {
	position: relative;
	float: right;

	@media (max-width: 576px) {
		position: absolute;
		right: $whiteCircleSize/2;
		bottom: 83px;	// Связано с высотой #bottom
	}

	@media (max-width: 400px) {
		bottom: 67px;	// Связано с высотой #bottom
	}

	@media (min-width: 577px) {
		top: 108px - $whiteCircleSize/2;
		left: 100px;
	}

	@media (min-width: 768px) {
		left: 150px;
	}

	@media (min-width: 1350px) {
		left: 200px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon {
	pointer-events: none;
	padding-left: 5px;


	&.open {
		padding-left: 0;
		transform: rotate(45deg);
	}
}

.social-icon-circle, .social-icon-line {
	&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 2px;
	}
}

.social-icon-circle {
	float: left;

	&:nth-child(1) {

	}
	&:nth-child(3) {
		margin-top: 3px;
		margin-left: 20px;
	}
	&:nth-child(5) {
		margin-top: 1px;
	}

	&.open {
		&:nth-child(1) {
			width: 0;
		}
		&:nth-child(3) {
			width: 0;
		}
		&:nth-child(5) {
			width: 0;
		}
	}
}

.social-icon-line {
	float: left;
	width: 13px;

	margin-left: 2px;

	&:nth-child(2) {
		transform-origin: left center;
		transform: rotate(30deg);
		margin-top: 3px;
	}
	&:nth-child(4) {
		margin-left: 6px;
		margin-top: 0;
		transform: rotate(-30deg);
		clear: both;
	}


	&.open {

		&:nth-child(2) {
			width: 30px;
			margin: 0;
			margin-top: 15px;
			//margin-left: 7px;
			transform: rotate(0deg);
			background-color: white;
		}
		&:nth-child(4) {
			width: 30px;
			margin: 0;
			margin-top: -13px;
			//margin-left: 2px;
			transform: rotate(90deg);
			background-color: white;
		}
	}
}

.social-share {
	position: absolute;
	bottom: 0;

	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;

	&.open {

		@media (min-width: 1251px) {
			&:nth-child(2) {
				margin-left: ($whiteCircleSize + $shareButtonMargin)*3;
			}
			&:nth-child(3) {
				margin-left: ($whiteCircleSize + $shareButtonMargin)*2;
			}
			&:nth-child(4) {
				margin-left: ($whiteCircleSize + $shareButtonMargin);
			}
		}

		@media (max-width: 1250px) {
			&:nth-child(2) {
				bottom: ($whiteCircleSize + $shareButtonMargin)*3;
			}
			&:nth-child(3) {
				bottom: ($whiteCircleSize + $shareButtonMargin)*2;
			}
			&:nth-child(4) {
				bottom: ($whiteCircleSize + $shareButtonMargin);
			}
		}

	}
}

#social-facebook svg{
	height: 40px;
}

#social-vk svg {
	height: 20px;
}

#social-twitter svg {
	height: 27px;
	margin-left: 2px;
}