
// *************************
//		SIDE NAVIGATION
// *************************

/* The side navigation menu */
#sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  white-space: nowrap;

  /* The navigation menu links */
  a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;

	&:hover {
	  color: #f1f1f1;
	}

  }

  /* Position and style the close button (top right corner) */
  .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {
	padding-top: 15px;
  }
  #sidenav a {
	font-size: 18px;
  }
}

#nav-icon {
  position: fixed;
  top: 0;
  left: 25px;
  z-index: 1000;
  width: 25px;
  height: 35px;
  margin: 20px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;

	&:nth-child(1) {
	  top: 7px;
	}

	&:nth-child(2), &:nth-child(3) {
	  top: 15px;
	}

	&:nth-child(4) {
	  top: 23px;
	}

  }

  &.open span {
	background: white;
	&:nth-child(1) {
	  top: 18px;
	  width: 0;
	  left: 50%;
	}

	&:nth-child(2) {
	  transform: rotate(45deg);
	}

	&:nth-child(3) {
	  transform: rotate(-45deg);
	}

	&:nth-child(4) {
	  top: 18px;
	  width: 0;
	  left: 50%;
	}
  }

}